confusing behavior with wildcard TLS certificates when one silo has no valid certificates but others do

It's not clear that there's any bug here, but it's confusing and we've run into it twice and debugged it twice now so I want to get this recorded.  Last time was 2023-06-05 in the oxide-dogfood-archive channel.

Steps to reproduce (I expect, anyway):

- Create silo A with one TLS certificate that's expired
- Create silo B with one TLS certificate that's valid
- In a fresh browser session (like, quit your browser and re-open it): visit silo A's endpoint.  You should get a browser error about the TLS certificate being invalid.
- Now visit silo B's endpoint.  This should work.
- Now visit silo A's endpoint.  This will work.  (Verified today in Firefox 154 on Mac, Safari on Mac, Chrome on Linux, plus it was also true three years ago.)

We observed this today on dogfood, where "silo A" is the `recovery` silo and "silo B" is the `oxide` silo.

To be clear, the surprising thing here is that silo A's endpoint works but only after visiting silo B's endpoint.  What's going on?  It turns out that per [RFC 7540 Section 9.1.1](https://www.rfc-editor.org/rfc/rfc7540#section-9.1.1), a browser with an established TCP connection to server A is allowed to re-use that connection for another server B provided that (1) the IP address of the TCP connection corresponds to one of the ones that B resolves to, and (2) the TLS certificate is valid for server B's DNS name.  So what's going on here is that when you visit silo A's endpoint the second time, the browser is re-using the TCP connection it had to silo B.  On our system, all silos' endpoints use the same IPs, so if you use wildcard certificates to re-use the same certificate across silos (as we often do), you can easily run into this.

One might reasonably ask if Nexus should reject a request like this, where the "host" header or authority in the request is for a different silo's name than silo associated with the TLS certificate that's being used here.  (To reiterate, the TLS certificate's metadata _is_ valid for this request.  It's just that this TLS certificate wasn't associated via our API with this silo.)  The RFC gives servers the option of servers sending a 421 ("Misdirected request") response for this.  We could potentially do this, though we'd probably want to verify that browsers behave reasonably in this case.  I believe the only advantage of doing this would be more predictable behavior (i.e., failing consistently in a case like this rather than sometimes working).

The flip side is that Nexus has a request directed to an IP address that it's supposed to be listening on (and is, obviously) and it has an established TLS session with a certificate valid for the silo that's being operated on.  It's not obvious that there's anything wrong with servicing this request.

---

Some debugging notes: we verified this was going on in 2023 with a packet capture:

> I took a look at huh.pcap in wireshark but I'm not sure how to answer this question.  I see the "access denied" (TCP connection with client port 52080).  Then I see encrypted application data going back and forth on a different TCP connection (48266).

(In that situation, silo A had no certificate at all, hence the "access denied".)